/* Ensure pictures are the correct height */
.pokemon-container {
    width: 120px;
    height: 120px;
    display: block;
    float: none;
    margin: auto;
}

.img-pokemon {
    text-align: center;
}

.type-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: -1px;
    padding-bottom: -1px;
    line-height: 16px;
    font-size: 8px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px black;
}

.type-Normal {
    background:#8a8a59;
    background-image:linear-gradient(#a8a878,#8a8a59);
    border-color:#79794e;
}

.type-Fire {
    background:#f08030;
    background-image:linear-gradient(#f08030,#dd6610);
    border-color:#b4530d;
}

.type-Water {
    background:#6890f0;
    background-image:linear-gradient(#6890f0,#386ceb);
    border-color:#1753e3;
}

.type-Electric {
    background:#f8d030;
    background-image:linear-gradient(#f8d030,#f0c108);
    border-color:#c19b07;
}

.type-Grass {
    background:#78c850;
    background-image:linear-gradient(#78c850,#5ca935);
    border-color:#4a892b;
}

.type-Ice {
    background:#98d8d8;
    background-image:linear-gradient(#98d8d8,#69c6c6);
    border-color:#45b6b6;
}

.type-Fighting {
    background:#c03028;
    background-image:linear-gradient(#c03028,#9d2721);
    border-color:#82211b;
}

.type-Poison {
    background:#a040a0;
    background-image:linear-gradient(#a040a0,#803380);
    border-color:#662966;
}

.type-Ground {
    background:#e0c068;
    background-image:linear-gradient(#e0c068,#d4a82f);
    border-color:#aa8623;
}

.type-Flying {
    background:#a890f0;
    background-image:linear-gradient(#a890f0,#9180c4);
    border-color:#7762b6;
}

.type-Psychic {
    background:#f85888;
    background-image:linear-gradient(#f85888,#f61c5d);
    border-color:#d60945;
}

.type-Bug {
    background:#a8b820;
    background-image:linear-gradient(#a8b820,#8d9a1b);
    border-color:#616b13;
}

.type-Rock {
    background:#b8a038;
    background-image:linear-gradient(#b8a038,#93802d);
    border-color:#746523;
}

.type-Ghost {
    background:#705898;
    background-image:linear-gradient(#705898,#554374);
    border-color:#413359;
}

.type-Dragon {
    background:#7038f8;
    background-image:linear-gradient(#7038f8,#4c08ef);
    border-color:#3d07c0;
}

.type-Steel {
    background:#b8b8d0;
    background-image:linear-gradient(#b8b8d0,#9797ba);
    border-color:#7a7aa7;
}

.type-Dark {
    background:#705848;
    background-image:linear-gradient(#705848,#513f34);
    border-color:#362a23;
}

.type-Fairy {
    background:#e898e8;
    background-image:linear-gradient(#e898e8,#de6ede);
    border-color:#d547d5;
}


/* Move statbars closer together */
.statbar {
    margin-top: -18px; 
}

.statnum {
    width: 2em;
    /* padding-right: 5px; */
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1366px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
