<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Declan Kelly">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/porygon.css">

    <script src="/static/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/static/pokedex.json" type="text/javascript"></script>
</head>
<body>
<div class="donate text-muted"><script id='fb9atlt'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=KnightHawk3&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb9atlt');</script></div>
    <div class="versionnumber text-muted"> Version: {{version}}</div>
    <div id="wrap">
        <div class="container">
            <div class="page-header">
                <h1>Porygon</h1>
            </div>
            <p class="lead">I love pokemon, so I made a large list of all the pokemon</p>
            <div id="pokemon">
                <div id="search-container">
                    <input class="search form-control form-search" placeholder="Search" />
                    <button class="sort btn search-button" data-sort="name"> Sort by name </button>
                    <button class="sort btn search-button" data-sort="id"> Sort by id </button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">Created by KnightHawk3 (Declan Kelly).</p>
        </div>
    </div>
    <script src="/static/list.min.js" type="text/javascript"></script>
    <script src="/static/porygon.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
