<div class="container">
    <h2> Pokedex </h2>

    Use the search box to search the page.
    
    <form>
        <input ng-model="query" type="text" placeholder="Enter a query">
        <input ng-model="limit" type="text" placeholder="24" only-digits>
        <!--
        <label ng-repeat="type in types">
            <input type="checkbox" checklist-model="filter.checkboxes" checklist-value="type"> {{type}}
        </label>
        --!>
        <select ng-model="filter.typeOne" ng-options="type for type in types"> </select>
        <select ng-model="filter.typeTwo" ng-options="type for type in types"> </select>
    </form>

    </br>


    <div class="pokemon col-md-3" ng-repeat="pokemon in pokedex | filter:query | filter:filterByTypeOne | filter:filterByTypeTwo | limitTo: limit">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><small>#</small>{{ pokemon.num }}</h3>
            </div>
            <div class="panel-body">
                <div class="pokemon-container">
			<img src="http://www.serebii.net/xy/pokemon/00{{pokemon.num}}.png" ng-if="pokemon.num <= 9 && !pokemon.formeLetter" class="img-pokemon"/>
			<img src="http://www.serebii.net/xy/pokemon/00{{pokemon.num}}-{{pokemon.formeLetter.toLowerCase()}}.png" ng-if="pokemon.num <= 9 && pokemon.formeLetter"class="img-pokemon"/>
			<img src="http://www.serebii.net/xy/pokemon/0{{pokemon.num}}.png" ng-if="pokemon.num <= 99 && pokemon.num >= 10 && !pokemon.formeLetter" class="img-pokemon"/>
			<img src="http://www.serebii.net/xy/pokemon/0{{pokemon.num}}-{{pokemon.formeLetter.toLowerCase()}}.png" ng-if="pokemon.num <= 99 && pokemon.num >= 10 && pokemon.formeLetter" class="img-pokemon"/>
			<img src="http://www.serebii.net/xy/pokemon/{{pokemon.num}}.png" ng-if="pokemon.num > 99 && !pokemon.formeLetter" class="img-pokemon"/>
			<img src="http://www.serebii.net/xy/pokemon/{{pokemon.num}}-{{pokemon.formeLetter.toLowerCase()}}.png" ng-if="pokemon.num > 99 && pokemon.formeLetter" class="img-pokemon"/>
                </div>
                <dl>
                    <dt>Species</dd>
                    <dd>{{ pokemon.species }}</dd>
                    <dt>Typing</dd>
                    <dd><span ng-repeat="type in pokemon.types">{{ type }} </span></dd>
                </dl>

                <div class=statbar>
                    <span class="pull-left statnum">{{pokemon.baseStats.hp}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.hp/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.hp / 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <div class="statbar">
                    <span class="pull-left statnum">{{pokemon.baseStats.atk}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.atk/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.atk / 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <div class="statbar">
                    <span class="pull-left statnum">{{pokemon.baseStats.def}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.def/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.def / 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <div class="statbar">
                    <span class="pull-left statnum">{{pokemon.baseStats.spa}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.spa/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.spa / 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <div class="statbar">
                    <span class="pull-left statnum">{{pokemon.baseStats.spd}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.spd/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.spd / 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <div class="statbar">
                    <span class="pull-left statnum">{{pokemon.baseStats.spe}}</span>
                    <div class="statbar progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{(pokemon.baseStats.spe/255) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(pokemon.baseStats.spe/ 255) * 100}}%;">
                        </div>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th> Damage </th>
                        <th> Type </th>
                    </tr>

                    <tr>
                        <td> 4x </td>
                        <td>
                            <span ng-repeat="type in types" ng-if="getEffectiveness(type, pokemon.types) === 2" class="type-icon type-{{type}}">
                                {{type.substring(0, 3)}} 
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td> 2x </td>
                        <td>
                            <span ng-repeat="type in types" ng-if="getEffectiveness(type, pokemon.types) === 1" class="type-icon type-{{type}}">
                                {{type.substring(0, 3)}} 
                            </span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> .5x </td>
                        <td>
                            <span ng-repeat="type in types" ng-if="getEffectiveness(type, pokemon.types) === -1" class="type-icon type-{{type}}">
                                {{type.substring(0, 3)}} 
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td> .25x </td>
                        <td>
                            <span ng-repeat="type in types" ng-if="getEffectiveness(type, pokemon.types) === -2" class="type-icon type-{{type}}">
                                {{type.substring(0, 3)}} 
                            </span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> 0x </td>
                        <td>
                            <span ng-repeat="type in types" ng-if="getImmunity(type, pokemon.types) === false" class="type-icon type-{{type}}">
                                {{type.substring(0, 3)}}
                            </span>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
    </div>
</div>
